body {
    height: 100%;
}

/* tabbed GUI functionality */
/* the main container which houses all the tabs/content */
.tabs {
    position: absolute;
    min-height: 500px;
    height: 95%;
    top: 0%;
    bottom: 100%;
    clear: both;
    margin: 5px 0;
}

/* the container for the tab and its associated content */
.tab {
    display: inline-block;
    height: 40px;
}

/* the clickable tab */
.tab label {
    display: inline-block;
    background: #eee;
    padding: 1px;
    border: 1px solid black;
    position: relative;
    height: 20px;
    z-index: 1;
}

/* radio buttons are used for virtual functionality not visual display, so hide them */
.tab [type=radio] {
    display: none;
}

/* the content of the tab */
.content {
    position: absolute;
    top: 24px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 1px;
    border: 1px solid black;

    /* let the tab controls above overlap by a pixel, so it looks like they're connected */
    margin-top: -1px;
    display: none;

}

/* the label following a checked radio button, i.e. the active tab */
[type=radio]:checked ~ label {
    background: white;
    border-bottom: none;
    padding-bottom: 2px; /* compensate for the now-missing border */

    /*z-index: 2;*/
}

/* the content following a checked radio button and a label, i.e. the active tab content */
[type=radio]:checked ~ label ~ .content {
    /*z-index: 1;*/
    display: block;
}













/* actual app layout */
#gui {
    width: 300px;
    /*height: 100%;*/
    /*height: 90vh;*/
}

#help {
    overflow-y: scroll;
    text-indent: 
}
.helptext {
    margin: 5px;
    margin-bottom: 15px;
}

#dice {
    display: flex;
    flex-direction: column;
}
#diceinputcontainer {
    height: 60px;
    font-size: 0px;
    flex: 0 0 auto;

}
.dieinput {
    /*position: absolute;*/
    display: inline-block;
    padding: 0px;
    position: relative;
    /*top: 0px;*/
    height: 60px;
    line-height: 30px;
    width: 72px;
    /*border: 1px solid red;*/
    font-size: 18px;
    font-family: sans-serif;
}
    .dieimg {
        position: absolute;
        left: 6px;
        top: 0px;
        height: 60px;
        width: 60px;
        text-align: center;
    }
    .incrdecr {
        position: absolute;
        top: 15%;
        left: 0%;
        height: 70%;
        width: 25%;
    }
        .incrbutton {
            position: absolute;
            top: 2%;
            left: 0%;
            height: 45%;
            width: 100%;
            font-size: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .decrbutton {
            position: absolute;
            top: 50%;
            left: 0%;
            height: 45%;
            width: 100%;
            font-size: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }
    .dnumdie {
        position: absolute;
        left: 25%;
        top: 25%;
        height: 50%;
        width: 33%; /*19%;*/
        font-size: 100%;
        text-align: right;
    }
    .diesizeindicator {
        position: absolute;
        left: 57%;
        top: 25%;
        height: 50%;
        width: 50%;
        font-size: 100%;
    }
    .diebkgrnd {
        position: absolute;
        top: 10%;
        left: 10%;
        height: 80%;
        width: 80%;
    }
    

.rollcontrols {
    /*position: relative;*/
    height: 30px;
    width: 288px;
    text-align: center;
    /*border: 1px solid red;*/
    flex: 0 0 auto;
}
    .rollbutton {
        position: relative;
        top: 4px;
    }

#dicepool {
    /*position: relative;*/
    width: 288px;
    height: 200px;
    /*height: 100px;*/
    border: 1px solid black;
    background-color: LemonChiffon;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1 1 auto;
}
    .individualdie {
        position: relative;
        width: 60px;
        height: 60px;
    }

#poolextras {
    width: 288px;
    text-align: center;
    flex: 0 0 auto;
}
.extrafeature {
    display: inline-block;
    position: relative;
    margin: 5px;
    /*border: 1px solid black;*/
}
#token {
    position: relative;
    top: 0px;
    height: 60px;
    line-height: 30px;
    width: 72px;
    /*border: 1px solid black;*/
    font-size: 18px;
    font-family: sans-serif;
}
#numberontoken {
        position: absolute;
        left: 32%;
        top: 25%;
        height: 50%;
        width: 36%;
        font-size: 100%;
        text-align: center;
}
#tokenbutton {
    position: relative;
    /*left: 72px;*/
}
#dicesumlabel {
    position: relative;
    width: 32px;
    display:inline-block;
    line-height: 20px;
    font-family: sans-serif;
}
#dicesumbkgrnd {
    position: absolute;
    left: 6px;
    top: 0px;
    height: 20px;
    width: 20px;
}
#circlesum {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.colorblock {
    position: relative;
    top: 0px;
    width: 20px;
    height: 20px;
}


.settingsblock {
    margin-top: 20px;
    margin-bottom: 40px;
}
.settingsblock [type=radio] {
    display: inline;
}

